@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.logo {
  border-radius: 50%;
}

.navbar {
  border-bottom: none;
}

:root {
  // back-to-top
  .back-to-top {
    --back-to-top-z-index: 5;
    --back-to-top-color: theme("colors.primary");
    --back-to-top-color-hover: theme("colors.primary-focus");
  }

  // nprogress
  --nprogress-color: theme("colors.primary-focus");
  --nprogress-z-index: 1031;
}

ul ul {
  margin: 0;
}
