// 主题颜色
$vssue-theme-color = #EEAF3A

// 文字颜色 （用于普通文字）
$vssue-text-color = #291334

// 浅色文字颜色 （用于备注等文字）
//$vssue-text-light-color = #E7E2DF

// 边框颜色
$vssue-border-color = #E7E2DF

// 进度条颜色
$vssue-progress-color = #65C3C8

// 文字大小
$vssue-font-size = 14px

// 字体
//$vssue-font-family = --vssue-font-family

// 切换为移动端模式的屏幕宽度
//$vssue-breakpoint-mobile = --vssue-breakpoint-mobile

// 文字方向 (ltr / rtl) （为 RTL 语言使用，如希伯来语等）
//$vssue-direction = --vssue-direction

@import '~vssue/src/styles/index'

.vssue {
  .vssue-comment-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .vssue-comment-reaction {
      display: inline-flex!important;
      align-items: center;
    }

    .vssue-comment-operations {
      display: flex;
    }
  }
}